
textarea.enonceQuestion{
    resize:none;
}

li{
    list-style: none;
}
.menuFormateurLien{
    text-decoration: none;
}

.creationThemeDivFormulaireCreation{
    padding-top: 50px;
}

.bordure {
    border-bottom: 3px solid #336666;
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

.bordure2 {
    border: 1px solid #336666;
    margin-inside: 10px 1px 10px 1px;
    height: 200px;
}

.bordure3 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #336666;
}

.bordure4 {
    border: 1px solid #336666;
    /*padding-left: 10px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -10px;
}

.eniecole {
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
}

.btn-center {
    text-align: center;
}

div {
    display: inline-block;
    color: #336666;
}

.row2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.col-lg-4-Me {
    position: relative;
    width: 30%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}

.texteColor {
    color: #336666;
}


